.singIn{
    text-align: center;
}

.rememmber{
    width: 320px; 
    display: inline-block; 
    padding: 20px
}

.signInHeading{
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 28px;
}

.imgCont > img{
    width: 100%;
    opacity: .8;
}




.bg-image {
    
    background-image: url("../../../assets/img/children2.jpeg");
       
    filter: blur(4px);
    -webkit-filter: blur(4px);    
    
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .bg-text {
    
    color: white;
    /* font-weight: bold;
    border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }




.imgCont{
    width: 100%;
    height: 40%;
    overflow: hidden;
    height: auto;
    height: 400px;
    background: url('../../../assets/img/children2.jpeg') no-repeat center center;
}

.labelForgot{
    float: right;
    font-size: var(--font-size-medium);
    cursor: pointer;
}

.labelRemember{
    float: left;
    font-size: var(--font-size-medium);
    cursor: pointer;
}

.signinButton{
    margin-top: 10%;
}

.imgCont img{
    /* max-height: 1200px; */
    background-size: cover;
    width: 100%;
    /* max-width: 1024px; */
    max-height: 540px;
}
