/* 
 * Sunflower Fund Organisation
 * License(s): Apache 2.0
 * Website: https://www.sunflowerfundregistry.com/
 * Github: https://github.com/sunflowerfund
 * Description: This is an entry for all styles that help build a component's look and feel.
*/

/* Shared Attributes and Values */

/* Root Style for Consistent Matrix */
  :root{
    /* Colors */
        --yellow : rgb(255, 191, 0);
        --black: rgb(0, 0, 0);
        --grey: rgb(77, 74, 73);
        --lightgrey: rgb(233, 228, 222);
        --white: rgb(255, 255, 255);
        --magenta: rgb(168, 0, 113);
        --green: rgb(163, 204, 0);
        --blue: rgb(0, 78, 204);
        --lightblue: rgb(0, 237, 164); /* Green - to be resolved */
    /* Look & Feel */
    
    /* Sizes */

    /* Breakpoints */
  }