<!-- Educate Section -->
<div class="banner d-flex background">
  <div class="contain-float m-auto p-tb25px ">
    <div class="content-m-2">
      <h1 class="h1 font-weight-light color-white text-uppercase white-space-preline">
        You could
        be someone's
      </h1>
      <h1 class="h1 font-weight-bold color-yellow text-uppercase">
        Hope for life
      </h1>
      <h1 class="font-weight-light color-white white-space-preline">
        Join The Sunflower
        stem cell registry today.
      </h1>
      <div class="btn-container text-center">
        <sunflower-button routerLink="get-started" type="primary" class="mw-fc m-auto">Register as a stem cell donor <i
            class="fa fa-arrow-right"></i></sunflower-button>
            <div class="btn-container">
           <label routerLink="/u" class ="color-white font-size-default font-weight-light">Already have an account? Click here!</label>                
            </div>
      </div>
    </div>
  </div>
</div>
<!-- Learn -->
<div class="banner d-flex dark-banner">
  <div class="contain-float m-auto p-tb25px d-inline-block font-size-medium">
    <div class="h1 text-center w-100 font-size-large color-yellow text-uppercase">
      How do you become a donor?
    </div>
    <div class="_1-4 p-tb25px fl md-break mx-50 text-center d-flex">
      <div class="md-b-50 m-auto">
        <!-- <h1 class="h2 font-weight-light color-black text-uppercase white-space-preline">
            Donor information
          </h1> -->
        <img src="./assets/img/sunflower/become-donor.png" class="w-100 md-b-50" alt="">
        <p class-="text-transform-regular">
          Read the Donor Information. If ever you have any questions call us toll free on 0800 12 10 82 during office
          hours.
        </p>
      </div>
    </div>
    <div class="_1-4 p-tb25px fl md-break mx-50 text-center d-flex">
      <div class="md-b-50 m-auto">
        <img src="./assets/img/sunflower/info.png" class="w-100 md-b-50" alt="">
        <!-- <h1 class="h2 font-weight-light color-black text-uppercase white-space-preline">
        Get tested
      </h1> -->
        <p>
          Wait for confirmation of registration with
          QR Code that you will take to the nearest donor recruitment clinic for testing.
        </p>
      </div>
    </div>
    <div class="_1-4 p-tb25px fl md-break mx-50 d-flex text-center">
      <div class="md-b-50 m-auto">
        <img src="./assets/img/sunflower/involved.png" class="w-100 md-b-50" alt="">
        <!-- <h1 class="h1 font-weight-light color-black text-uppercase white-space-preline">
        Get tested
      </h1> -->
        <p>
          Wait for confirmation of registration with
          QR Code that you will take to the nearest donor recruitment clinic for testing.
        </p>
      </div>
    </div>
    <div class="_1-4 p-tb25px fl md-break mx-50 text-center d-flex">
      <div class="md-b-50 m-auto">
        <img src="./assets/img/sunflower/healthcare.png" class="w-100 md-b-50" alt="">
        <!-- <h1 class="h1 font-weight-light color-black text-uppercase white-space-preline">
        fill in information
      </h1> -->
        <p>
          Read through the Registration Form and complete by filling in all the required information. Make sure that
          you
          answer truthfully and thoroughly and Submit.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="banner gradient-background d-flex">
  <div class="contain-float m-float text-center p-tb25px">
    <div class="h1   text-center w-100 font-size-large color-grey text-uppercase">
      Our Donor Journey
      <video class="video-player p-tb25px" controls src="../../../../assets/video/Stem cell donation- Step by step.mp4"></video>
    </div>
    <h1 class="font-weight-bold color-grey white-space-preline">
      Header For Body
    </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae illum dicta ea. Velit iusto vitae ab ex!
      Rerum optio, quo maiores unde, cum nisi mollitia corporis tempore fuga earum corrupti!</p>
    <div class="p-tb25px">
      <h1 class="font-weight-medium color-grey white-space-preline">
        Disclaimer/Aggreements
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit aperiam officiis error necessitatibus, maxime
        dolore, recusandae asperiores animi aliquam delectus aspernatur praesentium quae minus voluptas dignissimos
        debitis placeat sequi nobis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur totam asperiores fugiat in assumenda non
        veniam deleniti! Ratione inventore id tenetur laudantium ullam in natus, doloribus sint officia. Ipsa,
        iusto.Officia consectetur iste quod, autem inventore ut atque cum! Laudantium animi explicabo non repudiandae
        repellat, nobis odio error, iste laboriosam quis necessitatibus saepe id, rem qui voluptatibus alias. Optio,
        repudiandae!
      </p>
      <div class="btn-container text-center">
        <sunflower-button routerLink="/u/new" type="primary" class="mw-fc m-auto">Register as a stem cell donor <i
            class="fa fa-arrow-right"></i></sunflower-button>
            <div class="btn-container">
           <label routerLink="/u" class = "color-grey font-size-default font-weight-light">Already have an account? Click here!</label>                
            </div>  
    </div>
    </div>
  </div>
</div>


<div class="w-100 text-center font-size-xxlarge">
  © 2018 The Sunflower Fund. All Rights Reserved
</div>
