<sunflower-navbar>
</sunflower-navbar>

<div class="banner d-flex background">
  <div class="contain-float m-auto p-tb25px text-center">

    <div class="form-container m-auto">
      <ul>
        <li (click)="setUpClass(1)" [class]="class1">1</li>
        <li (click)="setUpClass(2)" [class]="class2">2</li>
        <li (click)="setUpClass(3)" [class]="class3">3</li>
        <li (click)="setUpClass(4)" [class]="class4">4</li>
      </ul>
      <h1 class="text-size-large font-weight-medium color-grey">
        Create I am Hope Account!
      </h1><br>
      <br>

      <div class="d-block m-auto" *ngIf="index == 1">
          
    
        <label  class="labels " for="Firstname">First Name</label>
        <!-- <input type="text" class="input" minlength="13" maxlength="13" placeholder="e.g Jane" /> -->
        <app-input [attrs]="['--full']" type="text" placeholder="E.g Jane" aria-required="true"></app-input>

        <label  class="labels " for="Lastname">Last Name</label>
        <app-input [attrs]="['--full']" type="text" placeholder="E.g Smith" aria-required="true"></app-input>

        <div class="btn-container">
          <sun-dropdown-menu title="Gender" [items]=" ['Male','Female']" (output)="setGender($event)"></sun-dropdown-menu>
        </div>
        <label  class="labels " for="IdNumber">ID Number</label>

        <input class="input" type="text" minlength="13" [(ngModel)]="idnumber"  (change)="validateID()"  maxlength="13" placeholder="200012340999"  aria-required="true"/>
        <div class="btn-container text-center">
        
          <sun-dropdown-menu   title="Ethnicity" [items]=" ['African','Coloured', 'Asian/Indian','White']"
            (output)="setEthnicity($event)"></sun-dropdown-menu>
            
        </div>
      </div>

      <div class="m-auto" *ngIf="index == 2">
        <br>
        <label  class="labels " for="PostalAddress">Postal Address</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="House number & street name"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Suburb"></app-input>
        <input class="input" type="text" minlength="10"  maxlength="10" placeholder="Postal code e.g 8000">
       
        <label  class="labels " for="HomeTel">Home Telephone</label>
        <input class="input" type="text" minlength="10"  maxlength="10" placeholder="555 - 5555555"/>
        <!-- <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="555 - 5555555"></app-input> -->
       
        <label  class="labels " for="WorkTel">Work Telephone</label>
        <input class="input" type="text" minlength="10"  maxlength="10" placeholder="021 - 1234567"/>
        <!-- <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="021 - 1234567"></app-input> -->

        <label  class="labels " for="CellNumber">Cellphone Number</label>
        <input class="input" type="text" minlength="10"  maxlength="10" placeholder="083 333 3333"  aria-required="true"/>
        <!-- <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="083 333 3333"></app-input> -->
      </div>
      

      <div class="m-auto" *ngIf="index == 3">
        <h2 class="text-size-small font-weight-medium color-grey">
          <u>Fill in Next of Kin Details:</u>
        </h2>
        <br />
        <h2 class="text-size-large font-weight-medium color-grey" id="sub">First Emergency Contact</h2>
        <!-- <label  class="labels " for="First Emergency Contact">First Emergency Contact</label> -->
        <label  class="labels " for="Name">Name</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Jill"  aria-required="true"></app-input>
        <label  class="labels " for="relationshipr">Relationship </label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="e.g spouse, partner, mother"></app-input>
        <br>
        <label  class="labels " for="email">Email</label>
        <app-input [attrs]="['--default']" class="fifty" type="email" placeholder="jill@gmail.com"></app-input>
        <label  class="labels " for="CellNumber">Cellphone Number</label>
        <input class="input" type="text" minlength="10"  maxlength="10" placeholder="082 111 1111 "  aria-required="true"/>
        <!-- <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="Mobile number" max length="10"></app-input> -->
        <br>
        <h2 class="text-size-large font-weight-medium color-grey" id="sub">Second Emergency Contact</h2>
        <!-- <label  class="labels " for="Second Emergency Contact">Second Emergency Contact</label> -->
        <label  class="labels " for="Name">Name</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="John"  aria-required="true"></app-input>
        <label  class="labels " for="Relationship">Relationship</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="e.g spouse, partner, mother"></app-input>
        <br> 
        <label  class="labels " for="email">Email</label>
        <app-input [attrs]="['--default']" class="fifty" type="email" placeholder="john@gmail.com"></app-input>
        <label  class="labels " for="CellNumber">Cellphone Number</label>
        <input class="input" type="text" minlength="10"  maxlength="10" placeholder="086 122 2222" aria-required="true"/>
        <!-- <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="Mobile number"></app-input> -->
      </div>
      <div class="m-auto" *ngIf="index == 4">
        <h1 class="text-size-small font-weight-medium color-grey">
          Terms and Agreements
        </h1>
      <br><a href="http://google.com" target="blank">Terms and Conditions</a><br>
      <br><a href="http://google.com">Privacy Policy</a><br>
      <br> <input type="checkbox"  aria-required="true">I have read and understood the terms and conditions above
    
      </div>
    <div class="btn-container text-center">
      <br>
      <br>
        <sunflower-button type="primary">Finish</sunflower-button>
    </div>

    <!-- <div class="btn-container text-center">
          <br>  
    </div> -->
      
    </div>

  </div>
</div>