<sunflower-navbar>
  <!-- <sunflower-button routerLink="/" type="primary active" [attrs]="['btn-small']">
    skip <i class="fa fa-chevron-right"></i>
  </sunflower-button> -->
</sunflower-navbar>

<div class="banner d-flex background">
  <div class="contain-float m-auto p-tb25px text-center">

    <div class="form-container m-auto">
      <ul>
        <li (click)="setUpClass(1)" [class]="class1">1</li>
        <li (click)="setUpClass(2)" [class]="class2">2</li>
        <li (click)="setUpClass(3)" [class]="class3">3</li>
        <li (click)="setUpClass(4)" [class]="class4">4</li>
      </ul>
      <h1 class="text-size-large font-weight-medium color-grey">
        Create I am Hope Account!
      </h1><br>
      <br>

      <div class="d-block m-auto" *ngIf="index == 1">
    
        <label  class="labels " for="Firstname">First Name</label>
        <app-input [attrs]="['--full']" type="text" placeholder="E.g Jane"></app-input>

        <label  class="labels " for="Lastname">Last Name</label>
        <app-input [attrs]="['--full']" type="text" placeholder="E.g Smith"></app-input>

        <div class="btn-container">
          <sun-dropdown-menu title="Gender" [items]=" ['Male','Female']" (output)="setGender($event)"></sun-dropdown-menu>
        </div>
        <label  class="labels " for="IdNumber">ID Number</label>

        <app-input [attrs]="['--full']" class="inputs" type="number"  max="13" placeholder="200012340999"></app-input>
        <div class="btn-container text-center">
        
          <sun-dropdown-menu   title="Ethnicity" [items]=" ['African','Coloured', 'Asian/Indian','White']"
            (output)="setEthnicity($event)"></sun-dropdown-menu>
       
        </div>
      </div>

      <div class="m-auto" *ngIf="index == 2">
        <!-- <h1 class="text-size-medium font-weight-medium color-grey">
          Fill in Contact Details:
        </h1> -->
        <br>
        <label  class="labels " for="PostalAddress">Postal Address</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="House number & street name"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Suburb"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="number" length="4" placeholder="Postal code e.g 8000"></app-input>
       
        <label  class="labels " for="HomeTel">Home Telephone</label>
        <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="Home telephone"></app-input>
       
        <label  class="labels " for="WorkTel">Work Telephone</label>
        <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="021 - 1234567"></app-input>

        <label  class="labels " for="CellNumber">Cellphone Number</label>
        <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="083 333 3333"></app-input>

        <!-- <label  class="labels " for="Firstname">ID Number</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Mobile number"></app-input> -->
      </div>
      

      <div class="m-auto" *ngIf="index == 3">
        <h1 class="text-size-small font-weight-medium color-grey">
          Fill in Next of Kin Details:
        </h1>
        <br />
        <label  class="labels " for="First Emergency Contact">First Emergency Contact</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Name"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Relationship e.g spouse, partner, mother"></app-input>
        <br>
        <app-input [attrs]="['--default']" class="fifty" type="email" placeholder="E-mail"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="Mobile number" max length="10"></app-input>
        <br>
        <label  class="labels " for="First Emergency Contact">Second Emergency Contact</label>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Name"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="text" placeholder="Relationship e.g spouse, partner, mother"></app-input>
        <br> 
        <app-input [attrs]="['--default']" class="fifty" type="email" placeholder="E-mail"></app-input>
        <app-input [attrs]="['--default']" class="fifty" type="number" placeholder="Mobile number"></app-input>
      </div>
      <div class="m-auto" *ngIf="index == 4">
        <h1 class="text-size-small font-weight-medium color-grey">
          Terms and Agreements
        </h1>
        <!-- <textarea readonly class="TsTextArea">
        1.1 I confirm that I am 18 years or older and that I am legally and mentaly competent to provide the consent envisaged in this document. If I am granting my consent on behalf of another person, I warrant that I am legally authorised to do so.
        1.2 I have understood the information provided to me firebaprior to signing the consent form. Any questions I asked were answered to my satisfaction, and futher information has been
        1.1 I confirm that I am 18 years or older and that I am legally and mentaly competent to provide the consent envisaged in this document. If I am granting my consent on behalf of another person, I warrant that I am legally authorised to do so.
        1.2 I have understood the information provided to me prior to signing the consent form. Any questions I asked were answered to my satisfaction, and futher information has been
        1.1 I confirm that I am 18 years or older and that I am legally and mentaly competent to provide the consent envisaged in this document. If I am granting my consent on behalf of another person, I warrant that I am legally authorised to do so.
        1.2 I have understood the information provided to me prior to signing the consent form. Any questions I asked were answered to my satisfaction, and futher information has been
        1.1 I confirm that I am 18 years or older and that I am legally and mentaly competent to provide the consent envisaged in this document. If I am granting my consent on behalf of another person, I warrant that I am legally authorised to do so.
        1.2 I have understood the information provided to me prior to signing the consent form. Any questions I asked were answered to my satisfaction, and futher information has been
        1.1 I confirm that I am 18 years or older and that I am legally and mentaly competent to provide the consent envisaged in this document. If I am granting my consent on behalf of another person, I warrant that I am legally authorised to do so.
        1.2 I have understood the information provided to me prior to signing the consent form. Any questions I asked were answered to my satisfaction, and futher information has been
        1.1 I confirm that I am 18 years or older and that I am legally and mentaly competent to provide the consent envisaged in this document. If I am granting my consent on behalf of another person, I warrant that I am legally authorised to do so.
        1.2 I have understood the information provided to me prior to signing the consent form. Any questions I asked were answered to my satisfaction, and futher information has been
        
      </textarea> -->
      <br><a href="http://google.com" target="blank">Terms and Conditions</a><br>
      <br><a href="http://google.com">Privacy Policy</a>
      <div class="check" type="check-box">I have read and understood the terms and conditions above</div>
      </div>
    <div class="btn-container text-center">
      <br>
      <br>
        <sunflower-button type="primary">Finish</sunflower-button>
    </div>

    <div class="btn-container text-center">
          <br>  <!-- <sunflower-button type="secondary">Skip</sunflower-button> -->
    </div>
      <!-- eng -->
    </div>

  </div>
</div>
