/* 
 * Sunflower Fund Organisation
 * License(s): Apache 2.0
 * Website: https://www.sunflowerfundregistry.com/
 * Github: https://github.com/sunflowerfund
 * Description: This is a file consisting of all the styling that will be used for creating a dropdown input.
    >>> Note: A dropdown is nested buttons -
*/

/* Default */
/* Container */

.sun-dropdown {
  /* outline */
  border: 1.2px solid var(--yellow);
  background: none;
  border-radius: 5px;
  /* padding: 5px 10px; */
  margin: 2.5px 0;
  width: 100%;
  max-width: 100%;
  /* max-height: fit-content; */
  /* Look */
  font-size: var(--font-size-default);
  /* Text */
  text-align: left;
  position: relative;
  text-overflow: ellipsis;
}

.sun-dropdown-item {
  padding: 5px 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sun-dropdown-container {
  display: none;
  z-index: 1;
  overflow-y: hidden;
  overflow-y: auto;
  background-color: var(--white);
}


/* Pseudo */

.sun-dropdown>.sun-dropdown-item::after {
  font-family: FontAwesome;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d7";
  font-size: var(--font-size-default);
  float: right;
  position: relative;
  align-items: center;
  margin: 2.5px;
}

.sun-dropdown-item:first-child:focus {
  display: inherit;
}

.sun-dropdown-item:last-child {
  border-bottom-color: transparent;
}

/* Pseudo - for buttons */

/* This is for when its clicked */
.sun-dropdown-item:first-child.--focus+.sun-dropdown-container {
  display: block;
  position: absolute;
  margin: 2px -1px;
  width: 100%;
  /* border: 1px solid var(--yellow); */
  border: 1px solid #f2f2ff;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2.5px 2.5px 2px var(--shadow);
  overflow-x: hidden;
  overflow-y: auto;
  /* Points */
  max-height: 100vh;
}

/* Click Listener - For Component */
.sun-dropdown.--focus {
  box-shadow: 2.5px 2.5px 2px var(--shadow);
  border-color: var(--yellow);
  border-radius: 5px 5px 0 0;
}

.sun-dropdown.--focus>.sun-dropdown-item::after {
  content: "\f0de";
}

/* Hover Effect */
.sun-dropdown:hover {
  cursor: pointer;
  border-color: var(--yellow);
  box-shadow: 2.5px 2.5px 2px var(--shadow);
}

.sun-dropdown-item.active::after {
  font-family: FontAwesome;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 5px;
  content: "\f111";
  /* font-size: var(--font-weight-small);
  content: "\f00c";  --checkbox */
  float: right;
  position: relative;
  align-items: center;
  margin: 2.5px;
}

/* Styles for items that are going to be within the dropdown menu */
.sun-dropdown-container>.sun-dropdown-item

/*,
.active  */
  {
  border-bottom: 1px solid transparent;
}

.sun-dropdown-container>.sun-dropdown-item:hover
/*,
.active  */
  {
  border-bottom: 1px solid var(--lightgrey);
  /* box-shadow: 2px 2.5px 2.5px 2px var(--shadow); */
}

/* Secondary Dropdown */
.sun-dropdown-primary {
  border-color: var(--yellow);
}
/* Attributes - Conditional Rendering */

/* --success - condition when 'success' is introduced to a btn  */
.sun-dropdown[class*="--success"] {
  border-color: var(--lightblue);
  color: var(--grey);
}

.sun-dropdown[class*="--success"]>.sun-dropdown-item::after {
  color: var(--lightblue);
}

.sun-dropdown-container[class*='--success'] {
  color: var(--lightblue);
  border: 1px solid var(--lightblue);
  font-weight: var(--font-weight-medium);
}

.sun-dropdown[class*="--success"]>.sun-dropdown-item::after {
  color: var(--lightblue);
}
/* Danger */
.sun-dropdown[class*="--danger"] {
  border-color: var(--danger);
  color: var(--danger);
}

.sun-dropdown[class*="--danger"]>.sun-dropdown-container{
  border: 1px solid var(--danger) !important
}
.sun-dropdown[class*="--danger"]>.sun-dropdown-item::after {
  color: var(--danger);
}

/* Warning */
.sun-dropdown[class*="--warning"] {
  border-color: var(--warning);
  color: var(--warning);
}

.sun-dropdown[class*="--warning"]>.sun-dropdown-container{
  border: 1px solid var(--warning) !important
}
.sun-dropdown[class*="--warning"]>.sun-dropdown-item::after {
  color: var(--warning);
}


/* Disabled */
.sun-dropdown[class*='--disabled'] {
  color: var(--grey);
  background-color: transparent;
  border-color: var(--lightgrey);
  cursor: not-allowed;
}

.sun-dropdown-container[class*='--disabled'] {
  color: var(--grey);
  background-color: transparent;
  border-color: var(--lightgrey);
  font-weight: var(--font-weight-small);
}

.sun-dropdown-container[class*='--disabled']>.sun-dropdown-item {
  color: var(--lightgrey);
  background-color: transparent;
  border-color: var(--lightgrey);
  font-weight: var(--font-weight-small);
}

/* Break Point */
