<sunflower-navbar class="sm-hide"></sunflower-navbar>
<div class="container">
 
  <div class="line"  *ngFor="let ques of questions; index as i" >
    <div class="height-46 display-flex">
      <label class="text-line-middle text">{{ques.question}}</label>
    </div>
  
   <div *ngIf="ques.question_Type === 2" class="YESandNO">
      <!-- Yes -->
    <div class="display-flex">
        <div class="radio" [ngClass]="questions[i].answer && prestine[i]
         ? 'selected' : 'unselected'"
          (click)="questions[i].answer = 1;  prestine[i]= true; "></div>
        <label class="text-line-middle radio-label">Yes</label>
      </div>
    
      <!-- No -->
      <div class="display-flex">
        <div class="radio" [ngClass]=" !questions[i].answer && prestine[i]
        ? 'selected' : 'unselected'"
          (click)="questions[i].answer = 0; prestine[i]= true;"></div>
        <label class="text-line-middle radio-label">No</label>
      </div>
   </div>
  
  <div class="explain"  *ngIf="ques.question_Type === 3" >
      <input [(ngModel)]="questions[i].answer" type="text" class="input">
  </div>  

  </div>
</div>

