<div class="bg-image"></div>

<div class = "imgCont">
    <img src="../../../assets/img/children2.jpeg" alr="">
</div>

<div class="bg-text">

  <h1 class="signInHeading">Sign in to mySunDonor Account:</h1>

  <app-input [attrs] = "['--default']" class="inputs" type = "text" placeholder = "Username"></app-input>
  <br>
  <app-input [attrs] = "['--default']" class="inputs"  type = "password" placeholder = "Password"></app-input>
  <br>
  <div class = "rememmber">
      <label class = "labelRemember">Remember Me?</label>
      <label class = "labelForgot">Forgot Password?</label>
      <br>

      <div class = "signinButton">
        <sunflower-button (click) = "sign()" type = "primary">Sign in</sunflower-button>
        <br>
        <br>
        <label (click) = "register()" class = "signupLink">Don't have an account? Sign Up</label>
      </div>
     </div>
</div>