<div class="banner d-flex bg-image">
  <div class="contain-float m-auto d-flex text-center p-tb25px">
    <div class="form-container m-auto">
      <img src="./assets/logo.png" alt="" class="profile">
      <h1 class="text-size-default font-weight-medium color-grey">
        I am Hope for life Account
      </h1>
      <br>
    <div class="origin_state" *ngIf="!logging">
        <label class="labels ">Email Address</label>

      <app-input [attrs]="['--default']" ngDefaultControl [(ngModel)]="user.username" class="inputs" type="text" placeholder="Username"></app-input>
      <br>
      <label class="labels ">Password</label>
      <app-input [attrs]="['--default']" ngDefaultControl [(ngModel)]="user.password" class="inputs" type="password" placeholder="Password"></app-input>
      
      <div class="btn-container d-inline-block">
      <div class = "labelRemember d-inline-block text-left">Remember Me?</div>
      <div class = "labelForgot d-inline-block text-right">Forgot Password?</div>        
      </div>
      <div class="btn-container text-center">
      <sunflower-button  (click)="login()" type = "primary">Log in</sunflower-button> 
      <div class="btn-container">
     <label (click) = "register()" class = "font-size-default">Don't have an account? <a class="link" routerLink="/u/new">Sign Up</a></label>
     </div>       
     </div>
    </div>

    <div class="logging" *ngIf="logging">
        <img   style="height:150px; width: 150px"src="../../../../assets/img/Bigger-Spinner.svg" alt="">
      </div>

    </div>
  </div>
</div>


<jw-modal  id="login-modal">
  <div class="modal">
      <div class="modal-body">
          <h1>Log in Failed!</h1>
          <p>  {{bodyText}}
          </p>
          <button (click)="closeModal('login-modal');">X</button>
      </div>
  </div>
  <div class="modal-background"></div>
</jw-modal > 

