/* 
 * Sunflower Fund Organisation
 * License(s): Apache 2.0
 * Website: https://www.sunflowerfundregistry.com/
 * Github: https://github.com/sunflowerfund
 * Description: This is a file consisting of all the styling that will be used for creating an input field.
*/

.input{
    color: #21252B;
    border: 0;
    outline: 0;
    background: transparent;
    text-align: left;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    font-size: var(--font-size-medium);
    max-width: 320px;
    padding: 0 0 5px 5px;
    border-bottom: 2px solid var(--yellow);
}

.input[class*="--fifty"]{
    border-bottom: 2px solid var(--yellow);
}

.input[class*="--success"]{
    border-bottom: 2px solid var(--yellow);
}

.input[class*="--warning"]{
    border-bottom: 2px solid var(--warning);
}

.input[class*="--danger"]{
    border-bottom: 2px solid var(--danger);
}

.input[class*="--default"]{
    margin: 15px;
    /* font-weight: var(--font-weight-default) !important;
    font-size: var(--font-size-small); */
}
.input[class*="--small"]{
    font-weight: var(--font-weight-small) !important;
    font-size: var(--font-size-small);
    padding: 2.5px 10px;
}

.input[class*="--large"]{
    font-weight: var(--font-weight-bold) !important;
    font-size: var(--font-size-large);
}

@media (max-width: 640px) {
    .input{
        color: black;
    }
}