<div class = "singIn">
  <div class = "imgCont">
      <img src="../../../assets/img/children2.jpeg" alr="">
  </div>

  <h1 class="signInHeading">Sign in to mySunDonor Account:</h1>

  <app-input type = "text" placeholder = "Username"></app-input>
  <br>
  <app-input type = "password" placeholder = "Password"></app-input>
  <br>
  <div class = "rememmber">
      <label class = "labelRemember">Remember Me?</label>
      <label class = "labelForgot">Forgot Password?</label>
      <br>

      <div class = "signinButton">
        <sunflower-button type = "primary">Sign in</sunflower-button>
      </div>
     </div>

</div>