<div class="wraper">
  <div class="center">
    
   

<div class="line">
  <div class="height-46 display-flex">
    <label class="text-line-middle text">Are you Healthy</label>
  </div>
  <!-- Yes -->
  <div class="display-flex">
    <div class="radio" ngDefaultControl  [ngClass]="areYouHealthy && areYouHealthyPrestine ? 'selected' : 'unselected'"
     (click)="areYouHealthy = true; areYouHealthyPrestine=true; answering(120,'true','Are you Healthy') "></div>
    <label class="text-line-middle radio-label">Yes</label>
  </div>

  <!-- No -->
  <div class="display-flex">
    <div class="radio" [ngClass]="!areYouHealthy && areYouHealthyPrestine? 'selected' : 'unselected'" 
    (click)="areYouHealthy = false; areYouHealthyPrestine=true;  answering(120,'false','Are you Healthy')"></div>
    <label class="text-line-middle radio-label">No</label>
  </div>
</div>
 

  </div>
</div>