
 <div class="loader" *ngIf="!questionair"> 
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

<div class="wraper"  *ngIf="questionair">
  <div class="center">
    
   
      <div class="line"  *ngFor="let ques of simpleMedic; index as i" >
          <div class="height-46 display-flex">
            <label class="text-line-middle text">{{ques.question}}</label>
          </div>
        
         <div *ngIf="ques.question_Type === 1 && ques.answer != 'q1_12b'" class="YESandNO">
            <!-- Yes -->
          <div class="display-flex">
              <div class="radio" [ngClass]="userResponse[i] && prestine[i]
               ? 'selected' : 'unselected'"
                (click)="userResponse[i] = 1;  prestine[i]= true; "></div>
              <label class="text-line-middle radio-label">Yes</label>
            </div>                                        
          
            <!-- No -->                                                                                                                                                                                                                                 
            <div class="display-flex">
              <div class="radio" [ngClass]=" !userResponse[i] && prestine[i]
              ? 'selected' : 'unselected'"
                (click)="userResponse[i] = 0; prestine[i]= true;"></div>
              <label class="text-line-middle radio-label">No</label>
            </div>
         </div>
        
        <div class="explain"  *ngIf="ques.answer === 'q1_12b'" >
            <input [(ngModel)]="userResponse[i]" type="text" class="input">
        </div>  
      
        </div>
 
        <sunflower-button type="primary" (click)="checkAnswering();">Next</sunflower-button>

  </div>
</div>