/* 
 * Sunflower Fund Organisation
 * License(s): Apache 2.0
 * Website: https://www.sunflowerfundregistry.com/
 * Github: https://github.com/sunflowerfund
 * Description: This is a file consisting of all the styling that will be used for creating an circular indicator.
*/

.indicator {
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    border-radius: 5em;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
    cursor: pointer;
    font-size: 2em;

    border: 1px solid rgb(255, 191, 0);
    background: white;
    color: rgb(255, 191, 0);
}

ul{
  text-align: center;
  margin-top: 15%;
}

/* .indicator::before{
  content: '';
  position: absolute;
  top: 1.5em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: rgb(255, 191, 0);
  z-index: -1;
} */

/* .indicator:first-child::before {
  display: none;
} */

.active {
  /* background: dodgerblue; */
  border: 1px solid rgb(255, 191, 0);
  background: rgb(255, 191, 0);
  color: white;
}

.active ~ .indicator {
  border: 1px solid rgb(255, 191, 0);
  background: white;
  color: rgb(255, 191, 0);
}

.active ~ .indicator::before {
    /* margin-top: .5em; */
    background: rgb(255, 191, 0);
}

@media (max-width: 650px) {
  .indicator{
    width: 2em;
    height: 2em;
    /* text-align: center; */
    line-height: 2em;
  }

  .active ~ .indicator::before {
    margin-top: .2em;
    background: rgb(255, 191, 0);
  }

  @media (max-width: 520px) {
    .indicator{
      display: none;
    }
  }
}