.isAFemale {
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

.innerText {
    background-color: var(--yellow);
    color: black;
    border-radius: 5px;
    padding: 10px;
}

.infomate {
    font-size: 15px;
}

.fr {
    float: right;
}

.height-46 {
    height: 46px;
    width: 268px;
}

.explain-section {
    margin-top: 20px;
}