<div class="loader" *ngIf="!questionair">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<div class="wraper">
  <div class="center">
    <span class="infomate">
      <p class="innerText">A platelet transfusion can prevent major bleeding. Certain patients are depandent on
        receiving HLA-compatable platelets from HLA matched donors in the coursr of their treatment (chemotherapy,
        transplantation and other). </p>
    </span>

    <br>
    <br>

    <div class="line" *ngFor="let ques of simpleMedic; index as i">
      <div class="height-46 display-flex">
        <label class="text-line-middle text"> {{ques.question}}</label>
      </div>

      <div *ngIf="ques.question_Type === 2">

        <!-- Yes -->
        <div class="display-flex" (click)="answerQuestion(ques.id, true);  simpleAnswerResponse[i] = true; prestine[i] = true">
          <div class="radio"
            [ngClass]="simpleAnswerResponse[i] && prestine[i] ? 'selected' : 'unselected'"
           ></div>
          <label class="text-line-middle radio-label">Yes</label>
        </div>

        <!-- No -->
        <div class="display-flex" (click)=" answerQuestion(ques.id, false);  simpleAnswerResponse[i] = false; prestine[i] = true;">
          <div class="radio"
            [ngClass]="!simpleAnswerResponse[i] && prestine[i] ? 'selected' : 'unselected'"
            ></div>
          <label class="text-line-middle radio-label">No</label>
        </div>
      </div>

      <div *ngIf="ques.answer != 'q2_6' && simpleAnswerResponse[i] === true " class="height-46  display-flex explain-section">
        <label class="text-line-middle text">When: </label>
        <app-input [attrs]="['--input-fifty']" [(ngModel)]="this.simpleMedicAnswersMap.get(ques.id).when" ngDefaultControl type="text"></app-input>

        <label class="text-line-middle text">Where: </label>
        <app-input [attrs]="['--input-fifty']" [(ngModel)]="this.simpleMedicAnswersMap.get(ques.id).where" ngDefaultControl type="text"></app-input>

      </div>

      <div *ngIf="ques.answer === 'q2_6'  && simpleAnswerResponse[i] === true">
        <label class="text-line-middle text">If so Which relative? </label>
        <app-input [attrs]="['--input-fifty']" [(ngModel)]="this.simpleMedicAnswersMap.get(ques.id).when" ngDefaultControl type="text"></app-input>

        <label class="text-line-middle text">Which leukaemia?: </label>
        <app-input [attrs]="['--input-fifty']" [(ngModel)]="this.simpleMedicAnswersMap.get(ques.id).where" ngDefaultControl type="text"></app-input>

      </div>



      <br><br>
      <br><br>
      <br><br>

    </div>




    <br>
    <br>
    <br>
    <div class="btn-spacing btn-container  text-center">
      <sunflower-button type="primary" (click)="finish()">Finish !</sunflower-button>
    </div>


  </div>
</div>