<div class="banner d-flex bg-image">
  <div class="contain-float m-auto d-flex text-center p-tb25px">
    <form  [formGroup]="userForm"  (ngSubmit)="register()" class="form-container m-auto">
      <img src="./assets/logo.png" alt="" class="profile">
      <h1 class="text-size-default font-weight-medium color-grey">
        I am Hope for life Account
      </h1>
  
      <br>
      <label class="labels ">Email Address</label>
      <app-input [attrs]="['--default']" ngDefaultControl formControlName="email" class="inputs"
        type="text" placeholder="Email" required ></app-input>
        <div *ngIf="formErrors.email">
          {{ formErrors.email }}
        </div>



      <label for="inputss" class=" labels">Password</label>

      <app-input [attrs]="['--default']" ngDefaultControl formControlName="password" class="inputs"
        type="password" placeholder="Password" required ></app-input>
        <div *ngIf="formErrors.password">
          {{ formErrors.password }}
        </div>

        

      <div class="btn-container text-center">
       
        <sunflower-button  (click)="register()" ngDefaultControl type="primary submit">Sign Up</sunflower-button>
         <div class="btn-container">
      <label   class="font-size-default">Already have an account? <a class="link"
              routerLink="/auth">Log in</a></label>
        </div>
      </div>
    </form>
  </div>
</div>