<div class="bg-image"></div>

<div class = "imgCont">
    <img src="../../../assets/img/children2.jpeg" alr="">
</div>

<div class="bg-text">

  <h1 class="signInHeading">Sign in to mySunDonor Account:</h1>

  <app-input class="inputs" type = "text" placeholder = "Name"></app-input>
  <br>
  <app-input class="inputs" type = "text" placeholder = "Surname"></app-input>
  <br>
  <app-input class="inputs" type = "text" placeholder = "Username"></app-input>
  <br>
  <app-input class="inputs"  type = "password" placeholder = "Password"></app-input>
  <br>
  <app-input class="inputs"  type = "password" placeholder = "Confirm Password"></app-input>
  <br>
  <div class = "rememmber">
      <!-- <br> -->

      <div class = "signinButton">
        <sunflower-button type = "primary">Sign in</sunflower-button>
      </div>
     </div>
</div>