.wrap{
  margin-top: 60px;
  padding: 27px;
}

#people {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


#people td, #people th {
  border: 1px solid #ddd;
  padding: 8px;
}

#people tr:nth-child(even){background-color: #f2f2f2;}

#people tr:hover {background-color: #ddd;}

#people th {
  /* width: 5%; */
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--yellow);
  color: black;
}



.navigatorItem{
  color: black;
  border: none;
  background-color: var(--yellow);
  border-radius: 5px;
  height: 35px;
  font-size: 2rem;
  width: 65px;
  cursor: pointer;
}
.navigatorItem:hover{
  background-color: grey;
  color: black
} 

.spinner{ 
  text-align: center; 
}

.paginator{
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items:baseline;
}
.view-More{
  color: black;
  border: none;
  background-color: var(--yellow);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.view-More:hover{
  background-color: grey;
  color: black
} 