<sunflower-navbar>
</sunflower-navbar>


<div class="wrap">

  <h1>All Online onboarded Donors </h1>
  <br>

<div class="sort">
  <sun-dropdown-menu title="Sort By" ngDefaultControl [items]="sorts"
  (output)="sort($event)"></sun-dropdown-menu>
</div>

<div class="table-wrap" *ngIf="response.people" >
    <table id="people">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>ID Number</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let person of response.people; let i = index">
    
          <tr>
            <td scope="row" style="width:50px">{{i + 1}}</td>
            <td>{{person.firstName}}</td>
            <td>{{person.surname}}</td>
            <td>{{person.idNumber}}</td>
            <td>
              <span *ngIf="person.status === 0">Pending</span>
            </td>
            <td>
              <!-- <sunflower-button type="primary" (click)="view(person.id);">View More</sunflower-button> -->
              <button class="view-More" (click)="view(person);" >View More</button>
            </td>
          </tr>
    
        </tbody>
        <br>
        <h3 >Showing {{response.numberOfElements}} of {{response.totalElements}} records</h3><br>
        <div class="paginator">
          <button class="navigatorItem" (click)="backwards()" *ngIf="!response.isFirstPage ">Prev</button>
          <p>Page <b> {{response.pageNumber}}</b> of <b>{{response.totalPages}}</b> </p>
          <button class="navigatorItem" (click)="forward()" *ngIf="!response.isLastPage">Next</button>
        </div> 
    
      </table>
</div>


  <div class="spinner" *ngIf="!response.people" >
      <img  src="../../../../assets/img/Bigger-Spinner.svg" alt="spinner">
</div>

</div>
