<h1>All Online registered people</h1>
<br>

<table id="people">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>ID Number</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody *ngFor="let person of people; let i = index">

    <tr>
      <th scope="row">{{i + 1}}</th>
      <td>{{person.firstName}}</td>
      <td>{{person.surname}}</td>
      <td>{{person.idNumber}}</td>
      <td>
        <span *ngIf="person.status === 0">Pending</span>
      </td>
      <td>
    <sunflower-button type="primary" (click)="reply();">View More</sunflower-button>  
        </td>
    </tr>

  </tbody>
  <div class="loader" *ngIf="!people">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

</table>
<br>

<div class="pagination">
  <a href="#">&laquo; Prev</a>
  <a (click)="expression()" [ngClass]="true ? active : not-active" >1</a>
  <a (click)="expression()" [ngClass]=" false ? active : not-active" href="#">2</a>
  <a (click)="expression()" [ngClass]="(page !== 3) ? active : not-active" href="#">3</a>
  <a (click)="expression()" [ngClass]="(page === 4) ? active : not-active" href="#">4</a>
  <a (click)="expression()" [ngClass]="(page === 5) ? active : not-active">5</a>
  <a (click)="expression()" [ngClass]="(page === 6) ? active : not-active">6</a>
  <a href="#">Next&raquo;</a>
</div>


<br>
